DEEPGRAM_API_KEY="114cc458945fac309226ab9eb4baa98fb673c970"
LIVEKIT_API_KEY="APIPdNQvoKhBd2F"
LIVEKIT_API_SECRET="94fQ7IafWB2nOPQmhobObsRTSf9oDKcjRUNuCCvLlPQB"
LIVEKIT_URL="wss://sanava-aj6gebey.livekit.cloud"
GOOGLE_APPLICATION_CREDENTIALS="/home/nour/freeVoiceAI/helical-cascade-445705-r3-d4305ca86d72.json"
GOOGLE_CLOUD_PROJECT="helical-cascade-445705-r3"
ELEVEN_API_KEY="sk_d8fa4893063aadfb9d8da504d4d9b34402863e9ea45c5b6f"
